h1, h2 ,h3
{
    text-align: center;
}
body
{
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.image
{
    margin:10px;
    flex: 0 0 200px;
    max-width:100%;
    height:auto;
}
p
{
    font-weight: bold;
    font-size: 1em;
    text-align: center;
}

ul
{
    list-style: none;
    padding: 0;
    margin:0;
    text-align:center;
}

ul li
{
    display: inline-block;
     margin: 0 10px;
     text-align: left;
}
header
{
    background-color: gainsboro;
    color: slategrey;
    padding: 20px;
    text-align: center;
}
nav
{
background-color: grey;
padding: 10px;
text-align: center;
}
nav ul
{
list-style-type:  none;
padding: 0;
margin: 0;
}
nav ul li 
{
    display: inline;
    margin-right: 20px;
}
nav ul li a 
{
    color: black;
    font-weight: bold;
    text-decoration: none;
    padding: 10px 20px;
    cursor: pointer;
}
nav ul li a:hover
{
    background-color: firebrick;
}
section
{
    display: none;
    padding: 20px;
}
section.active
{
    display: block;
}